/*
* 
* @author Jhonata Emanuel
*/

/* Layout */
html, body, #home{
	height: 100%;
	overflow-x: hidden;
}

body{
	background: url(../imagens/capa.png),
				url(../imagens/ruido.png),
				linear-gradient(50deg, #ff4169, #7c26f8);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-sarif;
}

/* Barra de navegação */
nav.navbar-transparente{
	padding: 1px 0;
	background: rgba(0,0,0,0.6);
}

.navbar-light .navbar-nav .nav-link{
	color: #EDEDED;
}
.navbar-light .navbar-nav .nav-link:hover{
	color: #5EE9EB;
	transition: 1s cubic-bezier(0, 1.1, 1, -0.3);
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0, 0.0);
}

.divisor{
	width: 1px;
	margin: 12px 15px;
	background: #EAEAEA;
}

/* Capa */
.capa{
	text-align: center;
}

.btn-custom{
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
	padding: 10px 20px;
}


.btn-roxo{
	background: #7c25f8;
}
.btn-roxo:hover{
	background: #3d018c;
	color: #F3F3F3;
}

.btn-branco{border: 2px solid white;}
.btn-branco:hover{
	background-color: white;
	color: black;
}

.carousel-control-next, .carousel-control-prev{width: 5%;} 

/* Section servicos */
.caixa{
	padding-top: 20px;
	padding-bottom: 20px;	
}

#servicos{background: #F0F0F0;}
#servicos h2, h3{color: #7c25f8;}


/* Section recursos */
#recursos h2{color: white;}
#recursos h3{color: #69DBEC;}
#recursos p{color: white; font-size: 16px;}


/* Tipografia */

h1{
	font-weight: 900;
	letter-spacing: -0.04em;
	margin-bottom: 18px;
	line-height: 1.15;
	color: #e4e4e4;
}
h2{
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}
h3{
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

#home h4{
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 31px;
	color: #FAFAFA;

}

.rotacionar{
	-ms-transform: rotate(30deg);/* IE 9 */ 
	-webkit-transform: rotate(30deg);/* Chorme, Safari, Opera */
	transform: rotate(30deg);
	padding-left: 80px;
}

/* Rodapé */
footer{
	background: #000000;
	padding: 50px 0px 20px 0;
	position: relative;
}
footer h4{
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a{
	color: #E9E9E9;
	font-size: 0.8em;
}
footer .navbar-nav a:hover{
	color: #7ADFE5;
	text-decoration: none;
	transition: 0.5s;
}
footer ul{
	list-style: none;
}
footer ul > li{
	float: right;
	margin: 0 10px;
}

/* Media Queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.btn-custom{margin: 10px 15px; border-radius: 200px;}
	h1{font-size: 4em; margin-bottom: 75px;}
	.logo-mobile{text-align: center;}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.btn-custom{margin: 10px 15px; border-radius: 200px;}
	h1{font-size: 4em; margin-bottom: 75px;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	h1{font-size: 4em;} 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1{font-size: 80px;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	h1{font-size: 80px;}
}